body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.remove-button:hover .button-text {
    color: transparent;
    opacity: .9;
}

.remove-button {
  display: block;
  background-color: #c0392b;
  
  line-height: 100px;
  margin: auto;
  color: #fff;
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  cursor: pointer;
  overflow: hidden;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
  -webkit-transition: all 0.25s cubic-bezier(0.31, -0.105, 0.43, 1.4);
  transition: all 0.25s cubic-bezier(0.31, -0.105, 0.43, 1.4);
}
.remove-button span,
.remove-button .icon {
  display: block;
  height: 100%;
  text-align: center;
  position: absolute;
  top: 0;
}
.remove-button span {
  width: 72%;
  line-height: inherit;
  font-size: 22px;
  text-transform: uppercase;
  left: 0;
  -webkit-transition: all 0.25s cubic-bezier(0.31, -0.105, 0.43, 1.4);
  transition: all 0.25s cubic-bezier(0.31, -0.105, 0.43, 1.4);
}
.remove-button span:after {
  content: '';
  background-color: #a53125;
  width: 2px;
  height: 70%;
  position: absolute;
  top: 15%;
  right: -1px;
}
.remove-button .icon {
  width: 28%;
  right: 0;
  -webkit-transition: all 0.25s cubic-bezier(0.31, -0.105, 0.43, 1.4);
  transition: all 0.25s cubic-bezier(0.31, -0.105, 0.43, 1.4);
}
.remove-button .icon .fa {
  font-size: 30px;
  vertical-align: middle;
  -webkit-transition: all 0.25s cubic-bezier(0.31, -0.105, 0.43, 1.4), height 0.25s ease;
  transition: all 0.25s cubic-bezier(0.31, -0.105, 0.43, 1.4), height 0.25s ease;
}
.remove-button .icon .fa-remove {
  height: 36px;
}
.remove-button .icon .fa-check {
  display: none;
}
.remove-button.success span, .remove-button:hover span {
  left: -72%;
  opacity: 0;
}
.remove-button.success .icon, .remove-button:hover .icon {
  width: 100%;
}
.remove-button.success .icon .fa, .remove-button:hover .icon .fa {
  font-size: 45px;
}
.remove-button.success {
  background-color: #27ae60;
}
.remove-button.success .icon .fa-remove {
  display: none;
}
.remove-button.success .icon .fa-check {
  display: inline-block;
}
.remove-button:hover {
  opacity: .9;
}
.remove-button:hover .icon .fa-remove {
  height: 46px;
}
.remove-button:active {
  opacity: 1;
}
